/*
-- README --
Ce fichier style le menu en version mobile.
Ici, la transition se fait à partir de 991px de largeur. Vous êtes libre de changer cette valeur, mais respecter les breakpoints de Bootstrap.
Les couleurs de background et de typo sont à changer dans le fichier variables.
Les niveaux 1 ne sont pas cliquables dans cette version. En cas de besoin, vous pouvez reprendre et adapter la structure des niveaux 2 pour les niveaux 1.
Burger proposé sur 3 niveaux de profondeur. En cas de niveaux 4, se contenter de pages carrefour.
*/

@media screen and (min-width: 992px) {
  .conteneur-main-menu {
    .conteneur-burger {
      display: none;
    }
  }
}

@media screen and (max-width: 991px) {
  header {
    &.menu-opened {
      .row-subheader {
        position: relative; // assure que le bouton retour du burger soit dans les limites du container
      }
      .conteneur-main-menu {
        .controls {
          &.active {
            position: absolute;
            height: 60px; // hauteur du bouton burger, afin que retour soit aligné sur le burger
            display: flex;
            align-items: center;
            left: 0;
          }
          .close {
            opacity: 1; // surcharge opacité 0.5 de bootstrap
          }
        }
      }
    }
  }
  .conteneur-main-menu {
    .menu {
      display: none;
      margin-top: 120px; //taille du header mobile - empêche que le menu remonte sur le bouton du burger
      &.active {
        background: $bg-burger;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        overflow: auto;
      }
      ul {
        padding-left: 0;
      }
      .niveau-1 {
        width: 100%;
        flex-grow: 1;
        //border-bottom: 1px solid grey;
        border-top: 1px solid grey;
        .titre-niveau-1 {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .dropdown {
          padding: 0;
          &.active {
            top: 0;
            bottom: 0;
            display: block !important; // nécessaire de mettre un !important pour surcharger le SlideDown
          }
          .conteneur-niveau-2 {
            display: block;
            .niveau-2 {
              max-width: initial;
            }
          }
          .parent {
            display: block; // nom de la page parente
          }
          ul {
            width: 100%;
            li {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid grey;
              padding: 10px 0;
              &.niveau-1 {
                .titre-niveau-1 {
                  color: $typo-burger-nv1;
                }
              }
              &.niveau-2 {
                a {
                  color: $typo-burger-nv2;
                }
              }
              &.niveau-3 {
                a {
                  color: $typo-burger-nv3;
                }
              }
              a {
                flex-grow: 1;
                padding: 10px 0;
              }
              .btn-dropdown {
                display: block;
                width: 50px;
                padding: 10px 0;
                border: none; // retire les borders par défaut
                border-left: 1px solid grey;
                box-shadow: none;
                background: transparent;
                flex-shrink: 0;
              }
            }
          }
        }

        .dropdown-niveau-2 {
          display: none;
          position: absolute;
          width: 100%;
          top: 100%;
          left: 0;
          border-bottom: 1px solid #ccc;
          background: $bg-burger;
          &.active {
            display: block;
            top: 0;
            bottom: 0;
          }
        }
      }
    }
    .conteneur-burger {
      display: block;
      text-align: right;
    }
  }
}