/*
-- README --
Ce fichier reprend les exemples d'animations de animations.html.
Vous pouvez :
- y ajouter des keyframes
- y ajouter d'autres classes génériques d'animations
Vous ne devez pas :
- y faire des animations n'impactant qu'un ou deux éléments très spécifiques.
*/

.underline {
  position: relative;
  &::after {
    position: absolute;
    bottom: -2px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000000;
    transition: $transition-base;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
  &.underline--ltr {
    &::after {
      left: 0;
    }
  }
  &.underline--rtl {
    &::after {
      right: 0;
    }
  }
  &.underline--center {
    &::after {
      left: 50%;
    }
    &:hover {
      &::after {
        left: 0;
      }
    }
  }
}

.highlighter {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    bottom: -5px;
    top: -5px;
    z-index: -1;
    background: #000000;
    transition: $transition-base;
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
  &.highlighter--ltr {
    &::before {
      left: 0;
    }
  }
  &.highlighter--rtl {
    &::before {
      right: 0;
    }
  }
  &.highlighter--center {
    &::before {
      left: 50%;
    }
    &:hover {
      &::before {
        left: 0;
      }
    }
  }
}

.to-color {
  -webkit-transition: $transition-base;
  -moz-transition: $transition-base;
  -o-transition: $transition-base;
  transition: $transition-base;
}

.left-line {
  position: relative;
  left: 0;
  -webkit-transition: $transition-base;
  -moz-transition: $transition-base;
  -o-transition: $transition-base;
  transition: $transition-base;

  &::before {
    position: absolute;
    left: 0;
    content: '';
    display: block;
    -webkit-transition: $transition-base;
    -moz-transition: $transition-base;
    -o-transition: $transition-base;
    transition: $transition-base;
    background: #000;
  }
  &.left-line--ttb {
    &::before {
      height: 0;
      top: 0;
      width: 2px;
    }
  }
  &.left-line--btt {
    &::before {
      height: 0;
      bottom: 0;
      width: 2px;
    }
  }
  &.left-line--center {
    &::before {
      left: 0;
      top: 50%;
      height: 0;
      width: 2px;
    }
  }
  &.left-line--ltr {
    &::before {
      width: 0;
      top: 0;
      bottom: 0;
    }
  }
  &:hover {
    left: 10px;
    &::before {
      left: -10px;
    }
  }
  &.left-line--ttb:hover {
    &::before {
      height: 100%;
    }
  }
  &.left-line--btt:hover {
    &::before {
      height: 100%;
    }
  }
  &.left-line--center:hover {
    &::before {
      top: 0;
      height: 100%;
    }
  }
  &.left-line--ltr:hover {
    &::before {
      width: 2px;
    }
  }
}

.animate-bg:link, .animate-bg:visited {
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: $transition-base;
  -moz-transition: $transition-base;
  -o-transition: $transition-base;
  transition: $transition-base;
  &::after {
    content: "";
    position: absolute;
    background: black;
    height: 0;
    left: 50%;
    top: 50%;
    width: 125%;
    z-index: -1;
    -webkit-transition: $transition-base;
    -moz-transition: $transition-base;
    -o-transition: $transition-base;
    transition: $transition-base;
  }
  &::before {
    background: #000;
  }
  &.animate-bg--open-diagonal {
    &:hover::after {
      height: 10vw;
    }
    &:after {
      -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
      transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    }
  }
  &.animate-bg--open-diagonal-reverse {
    &:hover::after {
      height: 10vw;
    }
    &:after {
      -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
      transform: translateX(-50%) translateY(-50%) rotate(25deg);
    }
  }
  &.animate-bg--open-horizontal {
    &:after {
      opacity: .5;
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    &:hover:after {
      height: 140%;
      width: 150%;
      opacity: 1;
    }
  }
  &.animate-bg--open-vertical {
    &:hover:after {
      opacity: 1;
      height: 20vw;
    }
    &::after {
      opacity: .5;
      -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
      -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
      transform: translateY(-50%) translateX(-50%) rotate(90deg);
    }
  }

  &.animate-bg--btt {
    cursor: pointer;
    display: block;
    position: relative;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    &::before {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 0;
      width: 100%;
      z-index: -1;
      content: '';
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
    &:hover {
      background-color: transparent;
      text-shadow: none;
      &::before {
        bottom: 0;
        top: auto;
        height: 100%;
      }
    }
  }

  &.animate-bg--ttb {
    cursor: pointer;
    display: block;
    position: relative;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    &::before {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 0;
      width: 100%;
      z-index: -1;
      content: '';
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
    &:hover {
      background-color: transparent;
      &::before {
        top: 0;
        bottom: auto;
        height: 100%;
      }
    }

  }
  &.animate-bg--ltr {
    cursor: pointer;
    display: block;
    position: relative;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    &::before {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 0;
      z-index: -1;
      content: '';
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }
    &:hover {
      background-color: transparent;
      &::before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }
  &.animate-bg--rtl {
    cursor: pointer;
    display: block;
    position: relative;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      z-index: -1;
      content: '';
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }
    &:hover {
      background-color: transparent;
      &:before {
        right: 0;
        left: auto;
        width: 100%;
      }
    }
  }
}

@each $color, $value in $theme-colors {
  .underline--#{$color} {
    &::after {
      background: $value;
    }
  }

  .highlighter--#{$color} {
    &::before {
      background: $value;
    }
  }

  .left-line--#{$color} {
    &::before {
      background: $value;
    }
  }

  .to-color--#{$color} {
    &:hover {
      color: $value;
    }
  }

  .animate-bg--#{$color} {
    &::after, &::before {
      /** @TODO : Trouver un moyen de remove cet important **/
      background: $value !important;
    }
  }
}

.animate-border {
  // Required, since we're setting absolute on pseudo-elements
  position: relative;
  &::before,
  &::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &.animate-border--around{
    transition: $transition-base;

    &::before,
    &::after {
      border: 2px solid transparent;
      width: 0;
      height: 0;
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    &:hover::before,
    &:hover::after {
      width: 100%;
      height: 100%;
    }

    &:hover::before {
      border-top-color: #000;
      border-right-color: #000;
      transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    }

    &:hover::after {
      border-bottom-color: #000;
      border-left-color: #000;
      transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
      height 0.25s ease-out 0.75s;
    }
  }

  &.animate-border--meet {
    &::before,
    &::after {
      border: 2px solid transparent;
      width: 0;
      height: 0;
    }

    &::after {
      top: 0;
      left: 0;
    }

    &:hover::before {
      border-top-color: #000;
      border-right-color: #000;
    }

    &:hover::after {
      border-bottom-color: #000;
      border-left-color: #000;
      transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
    }
  }
  &.animate-border--center {

    &::before,
    &::after {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform-origin: center;
    }

    &::before {
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      transform: scale3d(0, 1, 1);
    }

    &::after {
      border-left: 2px solid #000;
      border-right: 2px solid #000;
      transform: scale3d(1, 0, 1);
    }

    &:hover::before,
    &:hover::after {
      transform: scale3d(1, 1, 1);
      transition: transform 0.5s;
    }
  }
}