/*** FORMULAIRES BASIQUES ***/

/*** FIN FORMULAIRES BASIQUES ***/

/*** GRAVITY FORMS ***/
.gform_wrapper{
  form{

    .gform_body{
      .gfield{


        label.gfield_label{ //ALL LABELS

        }

        .gfield_required{ //ASTERISQUE REQUIRED
          color: $danger;
        }

        &.gsection{ //SECTION TITLE

        }


        .ginput_container{
          &.ginput_container_text{ //INPUT TEXT
            input{
              width: 100%;
            }
          }

          &.ginput_container_number{ //INPUT NUMBER
            input{
              width: 100%;
            }
          }

          &.ginput_container_email{ //INPUT EMAIL
            input{
              width: 100%;
            }
          }

          &.ginput_container_fileupload{
            input{
              width: 100%;
            }
          }

          &.ginput_container_radio{ //INPUT RADIO
            .radio{
              input{
                opacity: 0;
                &:checked + label {
                  &::after {
                    opacity: 1;
                  }
                }
              }
              label {
                margin-left: 7px;
                position: relative;
                cursor: pointer;
                &::before {
                  // style du radio
                  content: '';
                  background: #fff;
                  width: 22px;
                  height: 22px;
                  border-radius: 2px;
                  position: absolute;
                  left: -25px;
                  top: 0;
                  border: 1px solid $gray-300;
                }
                &:after{
                  // style du radio coché
                  content: '';
                  opacity: 0;
                  background: $primary;
                  width: 16px;
                  height: 16px;
                  border-radius: 2px;
                  position: absolute;
                  left: -22px;
                  top: 3px;
                }
              }
            }
          }

          &.ginput_container_select{ //SELECT

            // select2
            .select2-container--default {
              width: 100% !important;
              .select2-selection--single {
                height: 38px;
                border: 1px solid #ced4da;
                .select2-selection__rendered {
                  height: 100%;
                  display: flex;
                  align-items: center;
                }
                .select2-selection__arrow {
                  height: 100%;
                }
              }
            }
          }

          &.ginput_container_textarea{ //TEXTAREA

          }

          &.ginput_container_checkbox{ //INPUT CHECKBOX
            .checkbox{
              /*** checkboxes sur 3 colonnes ***/
              width: 33%;
              display: inline-block;
              /*** fin checkboxes sur 3 colonnes ***/
              input{
                opacity: 0;
                &:checked + label {
                  &::after {
                    opacity: 1;
                  }
                }
              }
              label {
                margin-left: 7px;
                position: relative;
                cursor: pointer;

                &::before {
                  // style de la checkbox
                  content: '';
                  background: #fff;
                  width: 22px;
                  height: 22px;
                  border-radius: 2px;
                  position: absolute;
                  left: -30px;
                  top: 0;
                  border: 1px solid $gray-300;
                }
                &:after{
                  // style de la checkbox cochée
                  content: '';
                  background: $primary;
                  width: 16px;
                  height: 16px;
                  border-radius: 2px;
                  position: absolute;
                  left: -27px;
                  top: 3px;
                }
              }
            }
          }

          &.ginput_container_date{ //SELECT DATE
            .ginput_container_date{
              &.gfield_date_dropdown_year {
                margin-right: 0;
              }
              flex-grow: 1;
              select{
                height: 36px;
                border: 1px solid #ced4da;
                width: 100%;
              }
            }
            select{
              height: 38px;
              border: 1px solid #ced4da;
            }
          }

          &.ginput_recaptcha{ //CAPTCHA
            display: flex;
            justify-content: center;
            align-items: flex-start;
          }

        }

        &.gfield_error{ //ERRORS
          .gfield_label{
            color: $danger;
          }
          .validation_message{
            display: none;
          }
          .ginput_container{
            input:not([type="file"]),textarea,select,iframe{
              border: 1px solid $danger;
              &::placeholder{
                color: $danger;
              }
            }
            label{
              &:before{
                border: 1px solid $danger; //CHECKBOX AND RADIO ERROR
              }
            }
            &.ginput_container_consent{
              .gfield_consent_label{
                color: $danger;
              }
            }
          }
        }
      }
    }

    div.validation_error{
      color: #fff;
      background: $danger;
      border: none;
    }

    .gform_footer{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      &.gform-btn-loader {
        position: relative;
        input[type="submit"]{
          position: absolute;
          opacity: 0;
        }
        .msg-envoi {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: $primary;
          .fa-spin {
            font-size: 25px;
            margin-bottom: 15px;
          }
        }
      }
      input[type="submit"]{
        padding: 10px 28px;
        margin-right: 0;

      }
    }
  }
}
/*** FIN GRAVITY FORMS ***/