/*
-- README --
Ce fichier style le header.
2 Headers sont proposés :
- full sticky header (par défaut) : la totalité du header est sticky et reste inchangée quand on scroll
- sticky header partiel : seulement une partie du header devient sticky au scroll (en général, la partie avec le menu). Vous devrez décommentez le sticky header partiel et commentez le full sticky header pour changer de configuration. Une partie en JS sera aussi à décommenter.
Vous pouvez changer l'apparence d'un full sticky header au scroll (pour diminuer certaines parties ou changer sa couleur par exemple) en adaptant le JS d'un sticky header partiel pour ajouter une class au scroll.
NB : en responsive, il faudra sans doute adapter le header et placer certains éléments dans le menu burger (réseaux sociaux, recherche, autres liens, etc) afin de gagner de la place.
*/


/*** FULL STICKY HEADER - par défaut ***/
// pour ne passer qu'une partie du header en sticky, commentez les 4 lignes ci-dessous, décommentez le sticky header partiel un peu plus bas, et décommentez "Sticky Header" dans app.js
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
main {
  padding-top: 121px; // hauteur du header à compenser
}
/*** FIN FULL STICKY HEADER ***/

header {

  /*** STICKY HEADER PARTIEL ***/
  //&.sticky {
  //  .conteneur-subheader { // élément qui restera sticky
  //    position: fixed;
  //    top: 0;
  //    left: 0;
  //    right: 0;
  //  }
  //}
  /*** FIN STICKY HEADER PARTIEL ***/

  &.menu-opened {
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: $bg-menu;
      z-index: 1;
    }
    .megamenu {
      z-index: 1; // assure que seul le burger soit le seul élément visible quand le menu est ouvert
    }
  }
  .conteneur-surheader {
    background: #aaa;
    color: #fff;
    padding: 5px 0;
    .conteneur-elements-gauche {
      flex: 50%;
      .rs {
        padding: 10px;
      }
    }
    .conteneur-elements-droite {
      display: flex;
      flex: 50%;
      justify-content: flex-end;
      .conteneur-liens {
        .lien {
          margin-right: 10px;
        }
      }
      .changeSize {
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
  .conteneur-subheader {
    position: relative; // important pour que le dropdown du megamenu soit en pleine largeur
    background: #ccc;
    .conteneur-logo {
      a {
        .logo {
          max-width: 250px; // à adapter en fonction du logo
        }
      }
    }
  }
}