/*
-- README --
Ce fichier est utilisé pour le style de la home (uniquement le contenu de la balise main).
*/

.home {
  main {
    section.section-slider-home {
      position: relative;
      height: 100vh;
      .conteneur-slider-home {
        overflow: hidden;
        height: inherit;
        .slider-home {
          height: inherit;
          .item-slider-home {
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            img {
              min-height: 100%;
              min-width: 100%;
            }
          }
          .slick-dots {
            bottom: 25px;
            z-index: 5;
            li {
              width: 25px;
              height: 25px;
              &.slick-active {
                button {
                  &::after {
                    content: '';
                    position: absolute;
                    width: 21px;
                    height: 21px;
                    top: 2px;
                    left: 2px;
                    background: $danger;
                    border-radius: 50%;
                  }
                }
              }
              button {
                &::before {
                  content: '';
                  width: 25px;
                  height: 25px;
                  background: #fff;
                  border-radius: 50%;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}