/*
-- README --
Ce fichier style le menu en version desktop.
Les couleurs de background et de typo sont à changer dans le fichier variables.
Seul le megamenu avec des niveaux 1 non cliquables est disponible pour le moment.
*/

.megamenu {
  height: 100%;
  flex-grow: 1;
  .controls {
    display: none; // bouton retour du burger
  }
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
    }
    .niveau-1 {
      .titre-niveau-1 {
        padding: 10px 15px;
        display: inline-block;
        cursor: pointer;
        color: $typo-menu-nv1;
      }
      .dropdown {
        display: none !important; // nécessaire de mettre un !important pour surcharger le SlideDown
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        border-bottom: 1px solid #ccc;
        background: $bg-menu;
        padding: 15px 0;
        &.active {
          display: block !important; // nécessaire de mettre un !important pour surcharger le SlideDown
        }
        .conteneur-niveau-2 {
          display: flex;
          flex-wrap: wrap;
          padding-left: 0;
          .niveau-2 {
            max-width: 25%;
          }
          .titre-niveau-2 {
            color: $typo-menu-nv2;
          }
          .titre-niveau-3 {
            color: $typo-menu-nv3;
          }
        }
        .parent {
          display: none; // nom de la page parente pour le burger
        }
        .controls {
          display: none; // bouton retour pour le burger
        }
        .btn-dropdown {
          display: none; // bouton dropdown sous-niveaux pour le burger
        }

      }
    }
  }
}