/*** COULEURS ***/
$primary: turquoise;
$danger: red;

// menu desktop
$bg-menu: #fff;
$typo-menu-nv1: #000;
$typo-menu-nv2: #000;
$typo-menu-nv3: #000;

// burger
$bg-burger: #fff;
$typo-burger-nv1: #000;
$typo-burger-nv2: #000;
$typo-burger-nv3: #000;
